.container {
  background-color: var(--card-color);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  flex-basis: 20.5rem;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 20.5rem;

  h2 {
    
    font-size: 2rem;
  }

  span {
    display: block;
    margin-top: 2rem;
    font-size: 1rem;
  }

  p {
    font-size: 1.375rem;
  }

  // a {
  //   background: var(--button-background);
  //   border-radius: .75rem;
  //   color: var(--card-color);
  //   display: block;
  //   font-size: 1.375rem;
  //   margin-top: 2rem;
  //   padding: .75rem;
  //   text-align: center;
  //   text-decoration: none;
  // }
}