.wrapper {
  background-color: var(--card-color);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;

  &>* {
    max-width: 40rem;
  }

  & a {
    color: var(--button-background);
    text-decoration: none;
  }

  & a:hover {
    filter: brightness(0.85);
  }
}